body {
    width: 300px;
    font-size: 10pt;
    overflow-x: hidden;
    margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 4px;
}

a {
    text-decoration: none;
    margin-bottom: 2px;
    color: #333333;
}

img.stream_logo {
    width: 16px;
}

table {
    border: 0px;
    cellspacing: 0px;
    border-collapse: collapse;
}

th.tname {
    width: 70%;
}

th.tviewers {
    width: 30%;
}

td.logo,
td.viewers {
    text-align: center;
    width: 16px;
}

td.name {
    width: 200px;
    background-color: #ededed;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

td.viewers {
    width: 70px;
    background-color: #DDDDDD;
}

tr {
    height: 16px;
    color: #3D3860;
}

tr:hover td {
    background-color: #3A355E !important;
    color: #fff !important;
    cursor: pointer;
}