body {
    width: 300px;
    font-size: 10pt;
    overflow-x: hidden;
    margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

a {
    text-decoration: none;
    margin-bottom: 2px;
    color: #333333;
}

img.stream_logo {
    width: 16px;
}

table {
    border: 0px;
    cellspacing: 0px;
    border-collapse: collapse;
}

th.tname {
    width: 70%;
}

th.tviewers {
    width: 30%;
}

td.logo,
td.viewers {
    text-align: center;
    width: 30px;
}

td.name {
    width: 200px;
}

td.viewers {
    width: 70px;
}

tr:hover {
    background-color: #ffefcf !important;
}